.aText {
    font-family: sans-serif;
    font-size: 16px;
    text-anchor: middle;
}

.active {
    font-weight: bold;
    fill: rgba(32, 9, 243, 0.925);
    transition: fill 0.3s ease-out;
    text-anchor: middle;
}

.inactive {
    font-weight: lighter;
    fill: #6c05a8;
    transition: fill 0.3s ease-out;
    text-anchor: middle;
}

.inactive:hover {
    fill: rgb(71, 112, 245);
    cursor: pointer;
}


/* font size dependent on radius, see app.js */

.stateText {
    font-family: sans-serif;
    fill: rgb(28, 6, 177);
    text-anchor: middle;
}

.stateCircle {
    fill: #f80be4;
    stroke: #0f0e01;
}

.chart {
    display: block;
    margin: 0;
}

.d3-tip {
    padding: 6px;
    font-size: 13px;
    line-height: 1;
    line-height: 1.5em;
    color: rgba(31, 7, 248, 0.863);
    text-align: center;
    text-transform: capitalize;
    background: rgba(173, 244, 245, 0.993)
}

.aText {
    font-size: 14px;
}


}
@media screen and (max-width: 400px) {
    .aText {
        font-size: 13px;
    }
}